.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.input{
    height: 30px;
    width: 30vw;
    background-color: white;
    border: 1px solid grey;
    color:black;
    margin: 0;
}

.box{
    justify-content: space-between;
    display: flex;
    margin: 10px 0px;
    width: 50vw;
}

.title{
    padding: 5px 10px;
}

.button{
    width: 100px;
    margin: 0px 5px;
}
.submitButton{
    margin: 0px 5px;
    width: 100%;
}