table,
table{
  width: 90%;
}
th,
td {
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
  font-size: 13px;
  text-align: center;
  white-space: pre-wrap;
}

th {
  background-color: #fafafa;
  padding: 20px;
}

td {
  background-color: white;
  padding: 16px 5px;
}
